#dataTable {
	border: 2px solid #000000; /* Turn off all borders */
	border-top: 1px solid #ccc;
	width: 540px;
}

#dataTable caption {
  caption-side: top;
  width: 100%;
  font-size: 16px;
  color: black;
  letter-spacing: 2px;
  top: 50px;
  position: static;
  z-index: 10;
  font-weight: bold;
}
